<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Solwin\ContactForm\Api\ContactWidgetRepositoryInterface" type="Solwin\ContactForm\Model\ContactWidgetRepository"/>
	<preference for="Solwin\ContactForm\Api\Data\ContactWidgetInterface" type="Solwin\ContactForm\Model\ContactWidget"/>
	<preference for="Solwin\ContactForm\Api\Data\ContactWidgetSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Solwin\ContactForm\Model\ResourceModel\ContactWidget\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">solwin_contactform_contactwidget</argument>
			<argument name="resourceModel" xsi:type="string">Solwin\ContactForm\Model\ResourceModel\ContactWidget\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="solwin_contactform_contactwidget_listing_data_source" xsi:type="string">Solwin\ContactForm\Model\ResourceModel\ContactWidget\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
